.search-bar {
    margin: 10px;
    display: flex;
  }
  
  .search-bar input {
    padding: 10px;
    width: 200px;
    margin-right: 10px;
  }
  
  .search-bar button {
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  